body, table {
	font: 36px courier, monospace;
	text-align: center;
}

button {
	font-size: 36px;
}

img {
	height: 10%; 
	width: 10%;
}

ul {
	list-style: none;
}

.array {
	opacity: .4;
	background: #fff;
	margin: auto;
}

.panel {
	float: left;
	outline: 1px solid gray;
}