
body.cloudy {
    background: rgb(169, 187, 198);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(169, 187, 198)), to(rgb(91, 160, 197)));
    background: -webkit-radial-gradient(rgb(169, 187, 198), rgb(91, 160, 197));
    background:    -moz-radial-gradient(rgb(169, 187, 198), rgb(91, 160, 197));
    background:     -ms-radial-gradient(rgb(169, 187, 198), rgb(91, 160, 197));
    background:      -o-radial-gradient(rgb(169, 187, 198), rgb(91, 160, 197));
    background:         radial-gradient(rgb(169, 187, 198), rgb(91, 160, 197));    
}

body.dark {
    background: rgb(169, 187, 198);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(169, 187, 198)), to(rgb(66, 116, 143)));
    background: -webkit-radial-gradient(rgb(169, 187, 198), rgb(66, 116, 143));
    background:    -moz-radial-gradient(rgb(169, 187, 198), rgb(66, 116, 143));
    background:     -ms-radial-gradient(rgb(169, 187, 198), rgb(66, 116, 143));
    background:      -o-radial-gradient(rgb(169, 187, 198), rgb(66, 116, 143));
    background:         radial-gradient(rgb(169, 187, 198), rgb(66, 116, 143));    
}

.box {
	background-color: #fff;
	border: 3px solid black;
	border-radius: 43px;
	margin: auto;
	padding: 40px 20px 20px;
	height: 400px;
	width: 50%;

}

.meta 	{margin-top: 17px; color: rgb(92, 131, 198);}
.code 	{margin-left: 33px; color: rgb(102, 102, 102); font-family: Junction;}

.large 	{font-size: 48px; line-height: 48px;}
.med 	{font-size: 40px; line-height: 40px;}
.small 	{font-size: 32px; line-height: 32px;}
.x-small 	{font-size: 24px; line-height: 24px;}
.xx-small 	{font-size: 16px; line-height: 16px;}
.xxx-small 	{font-size: 9px; line-height: 9px;}

.quote 	{font-size: 84px; line-height: 128px; font-family: Goudy; text-align: center;}
.quote.x-small {font-size: 42px; line-height: 64px; font-family: Goudy; text-align: center;}

pre 	{font-size: 28px; line-height: 32px; font-family: Junction;}

.focus-box {
	border-radius: 33px;
	box-shadow: 0 0 0 10000px #fff;
	opacity: 0.6;
}