<html ng-app="solar">
	<head>
		<title>Angular Example 7</title>
        <link href="css/example.css" rel="stylesheet" />
		<script src="js/lib/angular.min.js"></script>
		<script src="js/example-ctrl-7.js"></script>
	</head>
	<body ng-controller="Ctrl7">
	 
	 	<button ng-click="changeHeight()">Height</button>
	 	<button ng-click="changeWidth()">Width</button>
	 	<button ng-click="changePanel()">Panel</button>
		<solararray height="{{height}}" width="{{width}}">
			<panel part="item"/>
		</solararray>
	 
	</body>
</html>