<!doctype html>
<html>
    <head>
        <title>Angular Directives: A Deep Dive</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Thomas A. Valletta" />
        <link href="css/impress.css" rel="stylesheet" />
        <link href="css/prettify.css" rel="stylesheet" />
        <link href="css/presentation.css" rel="stylesheet" />
        <script type="text/javascript" src='js/jquery-1.8.2.min.js'></script>
        <script type="text/javascript" src='js/prettify.js'></script>
    </head>
    <body onload='prettyPrint()'>
		<p class="fallback-message">
		    Your browser doesn't support impress.js.  Try Chrome or Safari.
		</p>
		<div class="help">
			<h3>Need Help?</h3>
			<h6>Use the arrow keys move forward and back.</h6>
		</div>
		<div id="impress">
			<div id="title" class="step" data-x="0" data-y="-1200" data-z="0">
			    <img src="img/AngularJS-large.png"/>
			</div>

			<div class="step clarify quote" data-x="50" data-y="80" data-z="-100">
				Bringing “simple” back to the development of complex webapps...
			</div>



<!-- Example 1 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="1200" data-z="-100" data-rotate-y="-60">
				<h2>View:</h2>
				<h5>Expression<br/>Evaluation</h5>
			</div>
			<div class="step clarify" data-x="50" data-y="1200" data-z="-100">
<pre class='prettyprint lang-html'>
&lt;html ng-app&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 1&lt;/title&gt;

		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
	 
		&lt;p&gt;Hello, {{ "Angular" + "!" }}&lt;/p&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="1200" data-z="-100">
				<div class="focus-box" style="width: 520px; height: 70px; position: absolute; left: 130px; top: 85px;"></div> 
			</div>

			<div class="step invisible" data-x="1050" data-y="1200" data-z="-100">
				<iframe height="400px" width="800px" src="example-1.html"></iframe>
			</div>




<!-- Example 2 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="2400" data-z="-100" data-rotate-y="-60">
				<h2>Controller:</h2>
				<h5>Data Driven View</h5>
			</div>

			<div class="step clarify" data-x="50" data-y="2400" data-z="-100">
<pre class='prettyprint lang-html'>
&lt;html ng-app&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 2&lt;/title&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-2.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl2"&gt;
	 
		&lt;p&gt;Number of parts: {{ partList.length }}&lt;/p&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="2400" data-z="-100">
				<div class="focus-box" style="width: 680px; height: 70px; position: absolute; left: 130px; top: 85px;"></div> 
			</div>

			<div class="step" data-x="1050" data-y="2400" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl2($scope) {
	$scope.partList = [
		{
			type: 'panel',
			supplier: 'Suntech'
		},
		{
			type: 'panel',
			supplier: 'Yingli'
		},
		{
			type: 'panel',
			supplier: 'First Solar'
		},
		{
			type: 'inverter',
			supplier: 'Enphase'
		}
	];
}
</pre>
			</div>

			<div class="step invisible" data-x="2050" data-y="2400" data-z="-100">
				<iframe height="400px" width="800px" src="example-2.html"></iframe>
			</div>



<!-- Example 3 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->
			
			<div class="step invisible" data-x="-550" data-y="3600" data-z="-100" data-rotate-y="-60">
				<h2>Directive:</h2>
				<h5>Using Directives</h5>
				<br/>
				<h4 class="code">“ng-repeat”</h4>
			</div>

			<div class="step clarify" data-x="50" data-y="3600" data-z="-100">
<pre class='prettyprint lang-html'>
&lt;html ng-app&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 3&lt;/title&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-3.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl3"&gt;
	 
		&lt;table&gt;
			&lt;tr&gt;
				&lt;th&gt;Type&lt;/th&gt;
				&lt;th&gt;Supplier&lt;/th&gt;
			&lt;/tr&gt;
			&lt;tr ng-repeat="item in partList"&gt;
				&lt;td&gt;{{ item.type }}&lt;/td&gt;
				&lt;td&gt;{{ item.supplier }}&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="3600" data-z="-100">
				<div class="focus-box" style="width: 570px; height: 360px; position: absolute; left: 130px; top: -55px;"></div> 
			</div>

			<div class="step invisible" data-x="50" data-y="3600" data-z="-100">
				<div class="focus-box" style="width: 550px; height: 148px; position: absolute; left: 160px; top: 111px;"></div> 
			</div>

			<div class="step" data-x="1050" data-y="3600" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl3($scope) {
	$scope.partList = [
		{
			type: 'panel',
			supplier: 'Suntech'
		},
		{
			type: 'panel',
			supplier: 'Yingli'
		},
		{
			type: 'panel',
			supplier: 'First Solar'
		},
		{
			type: 'inverter',
			supplier: 'Enphase'
		}
	];
}
</pre>
			</div>

			<div class="step invisible" data-x="2050" data-y="3600" data-z="-100" data-onenter="endExample3">
				<iframe height="400px" width="800px" src="example-3.html"></iframe>
			</div>



<!-- Example 4 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="4800" data-z="-100" data-rotate-y="-60">
				<h2>Directive:</h2>
				<h5>Making Directives</h5>
			</div>

			<div class="step clarify" data-x="50" data-y="4800" data-z="-100" data-onenter="startExample4">
<pre class='prettyprint lang-html'>
&lt;html ng-app="solar"&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 4&lt;/title&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-4.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl4"&gt;
	 
		&lt;ul&gt;
			&lt;li ng-repeat="item in partList"&gt;
				&lt;img part="item"/&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="4800" data-z="-100">
				<div class="focus-box" style="width: 550px; height: 188px; position: absolute; left: 130px; top: 31px;"></div> 
			</div>

			<div class="step clarify" data-x="1050" data-y="4800" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl4($scope) {
	$scope.partList = [
		{
			type: 'panel',
			supplier: 'Suntech'
		},
		{
			type: 'panel',
			supplier: 'Yingli'
		},
		{
			type: 'panel',
			supplier: 'First Solar'
		},
		{
			type: 'inverter',
			supplier: 'Enphase'
		}
	];
}
</pre>
			</div>
			
			<div class="step clarify" data-x="2050" data-y="4800" data-z="-100" data-onenter="cloudy">
<pre class='prettyprint lang-js'>
angular.module('solar', [])
	.directive('part', function() {
		return function(scope, el, attrs) {
			var part = scope.$eval(attrs.part);
			el.attr('src', 'img/' + part.type + '.svg');
		}
	});
</pre>
			</div>

			<div class="step invisible" data-x="2050" data-y="4800" data-z="-100">
				<div class="focus-box" style="width: 330px; height: 38px; position: absolute; left: 344px; top: 24px;"></div> 
			</div>

			<div class="step invisible" data-x="50" data-y="4800" data-z="-100">
				<div class="focus-box" style="width: 300px; height: 38px; position: absolute; left: 254px; top: 104px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="4800" data-z="-100">
				<div class="focus-box" style="width: 330px; height: 38px; position: absolute; left: 344px; top: 24px;"></div> 
			</div>

			<div class="step invisible" data-x="3050" data-y="4800" data-z="-100">
				<iframe height="400px" width="800px" src="example-4.html"></iframe>
			</div>

			<!-- Simple Directive Layout -->
			<div id="example-4-layout" class="step clarify" data-x="4050" data-y="4800" data-z="1300" data-rotate-y="-90"></div>

			<div id="example-4-module-box" class="step clarify" data-x="4050" data-y="4800" data-z="1000" data-scale=".5" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Module</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">name</div>
						<div class="meta">@return</div>
						<div class="code">object: module</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">directive(name, fn)</div>
						<div class="code">...</div>
					</span>
				</div>
			</div>
			<div id="example-4-directive-box" class="step clarify" data-x="4050" data-y="4800" data-z="1300" data-scale=".5" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Directive</h3>
					<hr noshade/>
					<span class="med">
						<div class="meta">@param</div>
						<div class="code">&lt;injectables&gt;</div>
						<div class="meta">@return</div>
						<div class="code">function: Link</div>
					</span>
				</div>
			</div>
			<div id="example-4-link-box" class="step clarify" data-x="4050" data-y="4800" data-z="1600" data-scale=".5" data-rotate-y="-90" data-onenter="endExample4">
				<div class="box">
					<h3 class="center">Link Function</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">scope</div>
						<div class="code">element</div>
						<div class="code">attributes</div>
						<div class="code">controller</div>
					</span>
				</div>
			</div>
			


<!-- Example 5 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="6000" data-z="-100" data-rotate-y="-60">
				<h2>Directive:</h2>
				<h4>Two Way Binding</h4>
			</div>

			<div class="step clarify" data-x="50" data-y="6000" data-z="-100" data-onenter="startExample5">
<pre class='prettyprint lang-html'>
&lt;html ng-app="solar"&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 5&lt;/title&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-5.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl5"&gt;
	 
		&lt;ul&gt;
			&lt;li ng-repeat="item in partList"&gt;
				&lt;img part="item"/&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step clarify" data-x="1050" data-y="6000" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl5($scope) {
	$scope.partList = [
		{
			type: 'panel',
			supplier: 'Suntech'
		},
		{
			type: 'panel',
			supplier: 'Yingli'
		},
		{
			type: 'panel',
			supplier: 'First Solar'
		},
		{
			type: 'inverter',
			supplier: 'Enphase'
		}
	];
}
</pre>
			</div>
			
			<div class="step clarify" data-x="2050" data-y="6000" data-z="-100">
<pre class='prettyprint lang-js'>
angular.module('solar', [])
	.directive('part', function() {
		return function(scope, el, attrs) {
			function updateSrc(value) {
				el.attr('src', 'img/' + value + '.svg');
			}

			scope.$watch('item.type', function(newValue, oldValue) {
				updateSrc(newValue);
			});
		}
	});
</pre>
			</div>

			<div class="step invisible" data-x="2050" data-y="6000" data-z="-100">
				<div class="focus-box" style="width: 830px; height: 148px; position: absolute; left: 180px; top: 51px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="4800" data-z="-100"></div>

			<div class="step invisible" data-x="2050" data-y="6000" data-z="-100"></div>

			<div class="step invisible" data-x="3050" data-y="6000" data-z="-100">
				<iframe height="400px" width="800px" src="example-5.html"></iframe>
			</div>

			<div id="example-5-layout" class="step invisible" data-x="4050" data-y="6000" data-z="1300" data-rotate-y="-90"></div>

			<div id="example-5-module-box" class="step clarify" data-x="4050" data-y="5900" data-z="1000" data-scale=".4" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Module</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">name</div>
						<div class="meta">@return</div>
						<div class="code">object: module</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">directive(name, fn)</div>
						<div class="code">...</div>
					</span>
				</div>
			</div>
			<div id="example-5-directive-box" class="step clarify" data-x="4050" data-y="5900" data-z="1200" data-scale=".4" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<img src="img/short-line.svg"style="position: absolute; left: 450px; top: 504px;" />
				<div class="box">
					<h3 class="center">Directive</h3>
					<hr noshade/>
					<span class="med">
						<div class="meta">@param</div>
						<div class="code">&lt;injectables&gt;</div>
						<div class="meta">@return</div>
						<div class="code">function: Link</div>
					</span>
				</div>
			</div>
			<div id="example-5-link-1-box" class="step clarify" data-x="4050" data-y="5900" data-z="1400" data-scale=".4" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Link Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">scope</div>
						<div class="code">element</div>
						<div class="code">attributes</div>
						<div class="code">controller</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">$scope.$watch(exp, fn, eq)</div>
					</span>
				</div>
			</div>
			<div id="example-5-watch-box" class="step clarify" data-x="4050" data-y="5900" data-z="1600" data-scale=".4" data-rotate-y="-90">
				<div class="box">
					<h3 class="center">Watch Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">newValue</div>
						<div class="code">oldValue</div>
					</span>
				</div>
			</div>
			<div id="example-5-link-2-box" class="step clarify" data-x="4050" data-y="6100" data-z="1400" data-scale=".4" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Link Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">scope</div>
						<div class="code">element</div>
						<div class="code">attributes</div>
						<div class="code">controller</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">attrs.$observe(attr, fn)</div>
					</span>
				</div>
			</div>

			<div class="step quote x-small" data-x="4050" data-y="6100" data-z="2400" data-scale=".4" data-rotate-y="-135">
				“Use $observe to observe the value changes of attributes that contain interpolation (e.g. src="{{bar}}"). Not only is this very efficient but it's also the only way to easily get the actual value because during the linking phase the interpolation hasn't been evaluated yet and so the value is at this time set to undefined.”
			</div>

			<div id="example-5-observe-box" class="step clarify" data-x="4050" data-y="6100" data-z="1600" data-scale=".4" data-rotate-y="-90" data-onenter="endExample5">
				<div class="box">
					<h3 class="center">Attr Observe Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">value</div>
					</span>
				</div>
			</div>
			
<!-- Example 6 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="7200" data-z="-100" data-rotate-y="-60">
				<h2>Directive:</h2>
				<h4>Custom Element Tag</h4>
			</div>

			<div class="step clarify" data-x="50" data-y="7200" data-z="-100" data-onenter="startExample6">
<pre class='prettyprint lang-html'>
&lt;html ng-app="solar"&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 6&lt;/title&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-6.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl6"&gt;
	 
		&lt;ul&gt;
			&lt;li ng-repeat="item in parts"&gt;
				&lt;party part="item"/&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="7200" data-z="-100">
				<div class="focus-box" style="width: 370px; height: 50px; position: absolute; left: 230px; top: 96px;"></div> 
			</div>
			<div class="step invisible" data-x="50" data-y="6000" data-z="-100">				
				<div class="focus-box" style="width: 370px; height: 50px; position: absolute; left: 230px; top: 96px;"></div>
			</div>
			<div class="step invisible" data-x="50" data-y="7200" data-z="-100"></div>

			<div class="step clarify" data-x="1050" data-y="7200" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl6($scope) {
	$scope.partList = [
		{
			type: 'panel',
			supplier: 'Suntech'
		},
		{
			type: 'panel',
			supplier: 'Yingli'
		},
		{
			type: 'panel',
			supplier: 'First Solar'
		},
		{
			type: 'inverter',
			supplier: 'Enphase'
		}
	];
}
</pre>
			</div>
			
			<div class="step clarify" data-x="2050" data-y="7200" data-z="-100">
<pre class='prettyprint lang-js'>
angular.module('solar', [])
	.directive('party', function() {
		var directiveDef = {
			restrict: 'E',
			replace: true,
			template: '&lt;img/&gt;',
			link: function(scope, el, attrs) {
				function updateSrc(value) {
					el.attr('src', 'img/' + value + '.svg');
				}
				scope.$watch('item.type', function(newValue, oldValue) {
					updateSrc(newValue);
				});
			}
		}
		return directiveDef;
	});
</pre>
			</div>

			<div class="step invisible" data-x="2050" data-y="7200" data-z="-100">
				<div class="focus-box" style="width: 540px; height: 180px; position: absolute; left: 130px; top: -179px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="7200" data-z="-100">
				<div class="focus-box" style="width: 320px; height: 50px; position: absolute; left: 130px; top: 241px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="7200" data-z="-100">
				<div class="focus-box" style="width: 770px; height: 220px; position: absolute; left: 242px; top: -19px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="6000" data-z="-100">
				<div class="focus-box" style="width: 830px; height: 250px; position: absolute; left: 180px; top: -66px;"></div> 
			</div>

			<div class="step invisible" data-x="2050" data-y="7200" data-z="-100">
				<div class="focus-box" style="width: 770px; height: 220px; position: absolute; left: 242px; top: -19px;"></div> 
			</div>

			<div class="step invisible" data-x="3050" data-y="7200" data-z="-100">
				<iframe height="400px" width="800px" src="example-6.html"></iframe>
			</div>

			<div id="example-6-layout" class="step clarify" data-x="4050" data-y="7200" data-z="1300" data-rotate-y="-90"></div>

			<div id="example-6-module-box" class="step clarify" data-x="4050" data-y="7100" data-z="950" data-scale=".3" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Module</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">name</div>
						<div class="meta">@return</div>
						<div class="code">object: module</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">directive(name, fn)</div>
						<div class="code">...</div>
					</span>
				</div>
			</div>
			<div id="example-6-directive-box" class="step clarify" data-x="4050" data-y="7100" data-z="1120" data-scale=".3" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Directive</h3>
					<hr noshade/>
					<span class="med">
						<div class="meta">@param</div>
						<div class="code">&lt;injectables&gt;</div>
						<div class="meta">@return</div>
						<div class="code">object: Dir Def</div>
					</span>
				</div>
			</div>
			<div id="example-6-ddef-box" class="step clarify" data-x="4050" data-y="7100" data-z="1290" data-scale=".3" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<img src="img/short-line.svg" style="position: absolute; left: 450px; top: 504px; width: 480px" />
				<div class="box">
					<h3 class="center">Dir Def</h3>
					<hr noshade/>
					<span class="small">
						<div class="code">restrict: 'E'</div>
						<div class="code">replace: true</div>
						<div class="code">template: '&lt;div/&gt;'</div>
						<div class="code">link: fn</div>
					</span>
				</div>
			</div>
			<div id="example-6-link-1-box" class="step clarify" data-x="4050" data-y="7100" data-z="1460" data-scale=".3" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Link Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">scope</div>
						<div class="code">element</div>
						<div class="code">attributes</div>
						<div class="code">controller</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">$scope.$watch(exp, fn, eq)</div>
					</span>
				</div>
			</div>
			<div id="example-6-watch-box" class="step clarify" data-x="4050" data-y="7100" data-z="1630" data-scale=".3" data-rotate-y="-90">
				<div class="box">
					<h3 class="center">Watch Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">newValue</div>
						<div class="code">oldValue</div>
					</span>
				</div>
			</div>
			<div id="example-6-link-2-box" class="step clarify" data-x="4050" data-y="7300" data-z="1460" data-scale=".3" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 676px; top: 260px"/>
				<div class="box">
					<h3 class="center">Link Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">scope</div>
						<div class="code">element</div>
						<div class="code">attributes</div>
						<div class="code">controller</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">attrs.$observe(attr, fn)</div>
					</span>
				</div>
			</div>
			<div id="example-6-observe-box" class="step clarify" data-x="4050" data-y="7300" data-z="1630" data-scale=".3" data-rotate-y="-90" data-onenter="endExample6">
				<div class="box">
					<h3 class="center">Attr Observe Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">value</div>
					</span>
				</div>
			</div>
			


<!-- Example 7 +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-->

			<div class="step invisible" data-x="-550" data-y="8400" data-z="-100" data-rotate-y="-60">
				<h2>Directive:</h2>
				<h4>Transclusion</h4>
			</div>

			<div class="step clarify" data-x="50" data-y="8400" data-z="-100" data-onenter="startExample7">
<pre class='prettyprint lang-html'>
&lt;html ng-app="solar"&gt;
	&lt;head&gt;
		&lt;title&gt;Angular Example 7&lt;/title&gt;
        &lt;link href="css/example-7.css" rel="stylesheet" /&gt;
		&lt;script src="js/lib/angular.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/example-ctrl-7.js"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body ng-controller="Ctrl7"&gt;
	 
		&lt;solararray height="{{height}}" width="{{width}}"&gt;
			&lt;panel part="item"/&gt;
		&lt;/solararray&gt;
	 
	&lt;/body&gt;
&lt;/html&gt;
</pre>			
			</div>

			<div class="step invisible" data-x="50" data-y="8400" data-z="-100">
				<div class="focus-box" style="width: 760px; height: 130px; position: absolute; left: 130px; top: 76px;"></div> 
			</div>

			<div class="step invisible" data-x="1050" data-y="8400" data-z="-100">
				<iframe height="600px" width="800px" src="example-7.html"></iframe>
			</div>

			<div class="step clarify" data-x="2050" data-y="8400" data-z="-100">
<pre class='prettyprint lang-js'>
function Ctrl7($scope, partList) {
	$scope.item = partList[2];
	$scope.height = 24;
	$scope.width = 36;
}
</pre>
			</div>
			
			<div class="step clarify" data-x="3050" data-y="8400" data-z="-100">
<pre class='prettyprint lang-js x-small'>
	.factory('partList', function() {
		return [
			{
				type: 'panel',
				supplier: 'Suntech',
				dimensions: {
					height: 5,
					width: 3
				}
			},
			{
				type: 'panel',
				supplier: 'Yingli',
				dimensions: {
					height: 3,
					width: 5
				}
			},
			{
				type: 'panel',
				supplier: 'First Solar',
				dimensions: {
					height: 4,
					width: 8
				}
			}
		];
	})
</pre>
			</div>
			
			<div class="step clarify" data-x="4050" data-y="8400" data-z="-100">
<pre class='prettyprint lang-js x-small'>
	.directive('panel', ['$timeout', function($timeout) {
		var directiveDef = {
			restrict: 'E',
			replace: true,
			template: '&lt;div class="panel"/&gt;',
			link: function($scope, el, attrs) {
				$scope.$watch(attrs.part, function(value) {
					$scope.part = value;
					$scope.$emit('panel:value-change');
				});
				$scope.$on('array:panel-layout', function(e, layout) {
					el.css('height', (layout.dimensions.height * layout.scale) + 'px');
					el.css('width', (layout.dimensions.width * layout.scale) + 'px');
					el.addClass('panel');
				});
			}
		}
		return directiveDef;
	}]);
</pre>
			</div>
			
			<div class="step clarify skip" data-x="5550" data-y="8400" data-z="-100" data-scale="0.25">
<pre class='prettyprint lang-js'>
	.directive('solararray', function() {
		var directiveDef = {
			restrict: 'E',
			replace: true,
			template: '&lt;div class="array"/&gt;',
			transclude: true,
			compile: function(tElement, tAttrs, transcludeFn) {
				return function($scope, iElement, iAttrs, ctrl) {
					var h, w, panelDims;

					iAttrs.$observe('height', function(value) {
						h = value;
						if (h && w) update(h, w);
					});

					iAttrs.$observe('width', function(value) {
						w = value;
						if (h && w) update(h, w);
					});


					function update(h, w) {
						panelDims = false;
						iElement.css('height', (h * 20) + 'px');
						iElement.css('width', (w * 20) + 'px');

						// Create one to get size
						var panel_scope = $scope.$new();
						transcludeFn(panel_scope, function(clone) {
							iElement.append(stripWhitespace(clone));
						});
					}

					// Just grab the panel element not the whitespace
					function stripWhitespace($el) {
  						for (var i = 0; i < $el.length; i++) {
  							if ($el[i].className && 
  								$el[i].className.indexOf('panel') >= 0) {
  								return $el[i];
  							}
  						}
					}

					// Calculate and create the panels that can fit in the array
					function calculatePanelCount(newDimensions) {
						panelDims = newDimensions;

						var across = Math.floor(w / panelDims.width);
						var hPad = (w % panelDims.width) / 2;
						var down = Math.floor(h / panelDims.height);
						var vPad = (h % panelDims.height) / 2;
						var count = across * down;

						console.log(count);
						iElement.css('padding', (vPad * 20) + 'px 0 0 ' + (hPad * 20) + 'px');

						for (var i = 0; i < count; i++) {
							var panel_scope = $scope.$new();
							transcludeFn(panel_scope, function(clone) {
								iElement.append(stripWhitespace(clone));
							});
						}

						$scope.$broadcast('array:panel-layout', {
							dimensions: panelDims,
							scale: 20
						});
					}

					// On notification of panel size change - reload
					$scope.$on('panel:value-change', function(e) {
						var pDims = e.targetScope.part.dimensions;
						if (!panelDims || 
								panelDims.height != pDims.height || 
								panelDims.width != pDims.width) {
							iElement.children().remove();
							calculatePanelCount(pDims);
						}
					});
				}
			} 
		}
		return directiveDef;
	})
</pre>
			</div>

			<div class="step clarify" data-x="5550" data-y="8400" data-z="-100" data-onenter="dark"></div>

			<div class="step invisible" data-x="5550" data-y="8150" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 760px; height: 130px; position: absolute; left: 170px; top: -156px;"></div> 
			</div>
			
			<div class="step invisible" data-x="5550" data-y="8180" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 650px; height: 360px; position: absolute; left: 270px; top: -126px;"></div> 
			</div>
			
			<div class="step invisible" data-x="50" data-y="8400" data-z="-100">
				<div class="focus-box" style="width: 760px; height: 130px; position: absolute; left: 130px; top: 76px;"></div> 
			</div>

			<div class="step invisible" data-x="5550" data-y="8180" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 650px; height: 360px; position: absolute; left: 270px; top: -126px;"></div> 
			</div>
			
			<div class="step invisible" data-x="5550" data-y="8300" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 690px; height: 220px; position: absolute; left: 330px; top: -106px;"></div> 
			</div>

			<div class="step invisible" data-x="5550" data-y="8540" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 750px; height: 260px; position: absolute; left: 330px; top: -106px;"></div> 
			</div>
			
			<div class="step invisible" data-x="5550" data-y="8650" data-z="-100" data-scale="0.25">
				<div class="focus-box" style="width: 800px; height: 360px; position: absolute; left: 280px; top: -106px;"></div> 
			</div>
			
			<div id="example-7-layout" class="step invisible" data-x="7050" data-y="8400" data-z="1300" data-rotate-y="-90" data-onenter="startExample7boxes"></div>

			<div id="example-7-module-box" class="step invisible" data-x="7050" data-y="8300" data-z="950" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<div class="box">
					<h3 class="center">Module</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">name</div>
						<div class="meta">@return</div>
						<div class="code">object: module</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">directive(name, fn)</div>
						<div class="code">...</div>
					</span>
				</div>
			</div>
			<div id="example-7-directive-box" class="step invisible" data-x="7050" data-y="8300" data-z="1075" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<img src="img/long-line.svg"style="position: absolute; left: 450px; top: 504px;" />
				<div class="box">
					<h3 class="center">Directive</h3>
					<hr noshade/>
					<span class="med">
						<div class="meta">@param</div>
						<div class="code">&lt;injectables&gt;</div>
						<div class="meta">@return</div>
						<div class="code">object: Dir Def</div>
					</span>
				</div>
			</div>
			<div id="example-7-ddef-box" class="step invisible" data-x="7050" data-y="8300" data-z="1200" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<img src="img/short-line.svg"style="position: absolute; left: 450px; top: 504px;" />
				<div class="box">
					<h3 class="center">Dir Def</h3>
					<hr noshade/>
					<span class="small">
						<div class="code">restrict: 'E'</div>
						<div class="code">replace: true</div>
						<div class="code">template: '&lt;div/&gt;'</div>
						<div class="code">compile: fn</div>
					</span>
				</div>
			</div>
			<div id="example-7-compile-box" class="step invisible" data-x="7050" data-y="8300" data-z="1325" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<img src="img/short-line.svg"style="position: absolute; left: 450px; top: 504px;" />
				<div class="box">
					<h3 class="center">Compile Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">object: element</div>
						<div class="code">object: attributes</div>
						<div class="code">function: transclude</div>
						<div class="meta">@return</div>
						<div class="code">function: Link</div>
					</span>
				</div>
			</div>
			<div id="example-7-transclude-box" class="step invisible" data-x="7050" data-y="8300" data-z="1450" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<div class="box">
					<h3 class="center">Transclude Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">object: scope</div>
						<div class="code">function: clone</div>
					</span>
				</div>
			</div>
			<div id="example-7-clone-box" class="step invisible" data-x="7050" data-y="8300" data-z="1575" data-scale=".25" data-rotate-y="-90">
				<div class="box">
					<h3 class="center">Clone Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">object: clone (el)</div>
					</span>
				</div>
			</div>
			<div id="example-7-link-1-box" class="step invisible" data-x="7050" data-y="8425" data-z="1450" data-scale=".25" data-rotate-y="-90">
				<img src="img/line.svg"style="position: absolute; left: 674px; top: 272px"/>
				<img src="img/short-line.svg"style="position: absolute; left: 450px; top: 504px;" />
				<div class="box">
					<h3 class="center">Link Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">object: scope</div>
						<div class="code">object: element</div>
						<div class="code">object: attributes</div>
						<div class="code">object: controller</div>
					</span>
					<hr noshade/>
					<span class="small">
						<div class="code">$scope.$watch()</div>
						<div class="code">attrs.$observe()</div>
					</span>
				</div>
			</div>
			<div id="example-7-watch-box" class="step invisible" data-x="7050" data-y="8425" data-z="1575" data-scale=".25" data-rotate-y="-90">
				<div class="box">
					<h3 class="center">Watch Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">newValue</div>
						<div class="code">oldValue</div>
					</span>
				</div>
			</div>
			<div id="example-7-observe-box" class="step invisible" data-x="7050" data-y="8550" data-z="1575" data-scale=".25" data-rotate-y="-90">
				<div class="box">
					<h3 class="center">Attr Observe Fn</h3>
					<hr noshade/>
					<span class="small">
						<div class="meta">@param</div>
						<div class="code">value</div>
					</span>
				</div>
			</div>

			<div class="step invisible" data-x="50" data-y="80" data-z="-100" data-onenter="endExample7"></div>
			<div class="step invisible" data-x="50" data-y="8400" data-z="-100">
				<div class="focus-box" style="width: 760px; height: 130px; position: absolute; left: 130px; top: 76px;"></div> 
			</div>
			<div class="step invisible" data-x="2050" data-y="8400" data-z="-100"></div>

			<div class="step" data-x="-550" data-y="9600" data-z="-100" data-rotate-y="-60">
				<h5>Thanks for coming!</h5>
				<br/><br/><br/>
				<h4>Thomas A. Valletta</h4>
				<h4 class="code">@tvalletta</h4>
			</div>


			<!-- Title Graphics -->
			<div class="step clarify skip" data-x="-3500" data-y="-1150" data-z="-2500">
			    <img src="img/sunray-grad.svg" style="width: 1000%; height: 1000%; opacity: 0.25; "/>
			</div>
			<div class="step clarify skip" data-x="-950" data-y="-1200" data-z="-700">
			    <img src="img/cloud-02b.svg" style="width: 250%; height: 250%; "/>
			</div>
			<div class="step clarify skip" data-x="-350" data-y="-1000" data-z="-100">
			    <img src="img/cloud-03b.svg" style="width: 140%; height: 140%"/>
			</div>
			<div class="step center clarify skip" data-x="-200" data-y="-900" data-z="-100">
			    <h3>
			    	<span style="color: #77CBF8; font-weight: bold;">Directives:</span>
			     	<span style="color: #000">A Deep Dive</span></h3>
			    <p style="font-size: 22px">Thomas A. Valletta - @tvalletta</p>
			</div>

			<div class="step clarify skip" data-x="-200" data-y="10" data-z="-101">
				<img src="img/cloud-03b.svg" style="width: 160%; height: 160%"/>
			</div>

			<!-- First dark cloud behind step-4 -->
			<div id="cloud-4-1" class="step invisible skip" data-x="2000" data-y="5100" data-z="-700">
			    <img src="img/cloud-01bd.svg" style="width: 100%; height: 100%; "/>
			</div>
			<div id="cloud-4-2" class="step invisible skip" data-x="2300" data-y="5100" data-z="-1400">
			    <img src="img/cloud-02bd.svg" style="width: 150%; height: 150%; "/>
			</div>
			<div id="cloud-4-3" class="step invisible skip" data-x="4000" data-y="5100" data-z="-2800">
			    <img src="img/cloud-03bd.svg" style="width: 200%; height: 200%; "/>
			</div>

			<!-- First dark cloud behind step-5 -->
			<div id="cloud-5-1" class="step invisible skip" data-x="2000" data-y="6300" data-z="-700">
			    <img src="img/cloud-01bd.svg" style="width: 100%; height: 100%; "/>
			</div>
			<div id="cloud-5-2" class="step invisible skip" data-x="2300" data-y="6300" data-z="-1400">
			    <img src="img/cloud-03bd.svg" style="width: 150%; height: 150%; "/>
			</div>
			<div id="cloud-5-3" class="step invisible skip" data-x="4000" data-y="6300" data-z="-2800">
			    <img src="img/cloud-02bd.svg" style="width: 200%; height: 200%; "/>
			</div>
			<div id="cloud-5-4" class="step invisible skip" data-x="3800" data-y="5800" data-z="-4000">
			    <img src="img/cloud-01bd.svg" style="width: 500%; height: 500%; "/>
			</div>

			<!-- First dark cloud behind step-6 -->
			<div id="cloud-6-1" class="step invisible skip" data-x="2000" data-y="7500" data-z="-700">
			    <img src="img/cloud-03bd.svg" style="width: 100%; height: 100%; "/>
			</div>
			<div id="cloud-6-2" class="step invisible skip" data-x="2300" data-y="7500" data-z="-1400">
			    <img src="img/cloud-01bd.svg" style="width: 150%; height: 150%; "/>
			</div>
			<div id="cloud-6-3" class="step invisible skip" data-x="4000" data-y="7500" data-z="-2800">
			    <img src="img/cloud-02bd.svg" style="width: 200%; height: 200%; "/>
			</div>
			<div id="cloud-6-4" class="step invisible skip" data-x="3800" data-y="5800" data-z="-4000">
			    <img src="img/cloud-03bd.svg" style="width: 500%; height: 500%; "/>
			</div>

			<!-- Stuff for example 7 -->
			<div id="cloud-7-1" class="step invisible skip" data-x="2000" data-y="8700" data-z="-700">
			    <img src="img/cloud-01br.svg" style="width: 100%; height: 100%; "/>
			</div>
			<div id="cloud-7-2" class="step invisible skip" data-x="2300" data-y="8700" data-z="-1400">
			    <img src="img/cloud-02br.svg" style="width: 150%; height: 150%; "/>
			</div>
			<div id="cloud-7-3" class="step invisible skip" data-x="4000" data-y="8700" data-z="-2800">
			    <img src="img/cloud-03br.svg" style="width: 200%; height: 200%; "/>
			</div>
			<div id="cloud-7-4" class="step invisible skip" data-x="3800" data-y="7000" data-z="-4000">
			    <img src="img/cloud-02br.svg" style="width: 500%; height: 500%; "/>
			</div>

		</div>
    <script type="text/javascript" src="js/impress.js"></script>
    <script>
    	var el = document.getElementById("impress");
    	impress().init();

    	var timer;
    	var focusList = [];
    	var $help = $('.help');
    	var activeGroup;

    	el.addEventListener("impress:stepenter", function (event) {
    		setTimeout(function() {
	    		var $evt = $(event.target);
	    		var focus = $evt.attr('data-focus');
	    		if (focus) {
	    			var $target = $('.focus[data-focus-id="' + focus + '"]');
	    			if ($target[0]) {
		    			$target.addClass('clarify');
		    			focusList.push($target);
	    			}
	    		}
	    		var onenter = $evt.attr('data-onenter');
	    		if (window[onenter]) window[onenter]();
    		}, 200);
        }, false);

    	el.addEventListener("impress:stepleave", function (event) {
    		setTimeout(function() {
	    		var $evt = $(event.target);
	    		
	    		var stay = $evt.attr('data-stay');
	    		if (stay) {
	    			$evt.addClass('stay');
	    		}

	    		// Group Stuff
	    		var group = $evt.attr('data-group');
	    		if (group) {
		    		if (activeGroup) {
		    			if (activeGroup === group) {
		    				$evt.addClass('stay');
		    			}
		    			else {
		    				$('[data-group="' + activeGroup + '"]').removeClass('stay');
		    			}
		    		}
		    		else {
		    			activeGroup = group;
		    			$evt.addClass('stay');
		    		}
	    		}
	    		else if (activeGroup) {
					$('[data-group="' + activeGroup + '"]').removeClass('stay')
	    		}

	    		for (var i = 0, cnt = focusList.length; i < cnt; i++) {
	    			focusList[i].removeClass('clarify');
	    		}
	    		focusList = [];

	    		var onleave = $evt.attr('data-onleave');
	    		if (window[onleave]) window[onleave]();
	    	}, 200);
        }, false);

    	function onGuidedEnter() {
    		timer = setTimeout(function() {
	    		$help.addClass('show');
    		}, 3000);
    	}
    	function onGuidedLeave() {
    		clearTimeout(timer);
			$help.removeClass('show');
    	}

    	function cloudy() {
    		setTimeout(function() {
	    		$('body').addClass('cloudy');
    		}, 1);
    	}

    	function dark() {
    		setTimeout(function() {
	    		$('body').addClass('dark').removeClass('cloudy');
    		}, 1);
    	}

    	function startExample4() {
    		setTimeout(function() {
	    		$('#cloud-4-1, #cloud-4-2, #cloud-4-3').addClass('clarify');
    		}, 1);
    	}

    	function endExample4() {
    		setTimeout(function() {

    		}, 1);
    	}

    	function startExample5() {
    		setTimeout(function() {
	    		$('#cloud-5-1, #cloud-5-2, #cloud-5-3, #cloud-5-4').addClass('clarify');
    		}, 1);
    	}

    	function endExample5() {
    		setTimeout(function() {

    		}, 1);
    	}

    	function startExample6() {
    		setTimeout(function() {
	    		$('#cloud-6-1, #cloud-6-2, #cloud-6-3, #cloud-6-4').addClass('clarify');
    		}, 1);
    	}

    	function endExample6() {
    		setTimeout(function() {

    		}, 1);
    	}

    	function startExample7() {
    		setTimeout(function() {
	    		dark();
	    		$('#cloud-7-1, #cloud-7-2, #cloud-7-3, #cloud-7-4').addClass('clarify');
    		}, 1);
    	}

    	function startExample7boxes() {
    		setTimeout(function() {
	    		$('#example-7-module-box, #example-7-directive-box, #example-7-ddef-box, #example-7-compile-box, #example-7-transclude-box, #example-7-clone-box, #example-7-link-1-box, #example-7-watch-box, #example-7-observe-box').addClass('clarify');
    		}, 1);
    	}

    	function endExample7() {
    		setTimeout(function() {
	    		$('#example-7-module-box, #example-7-directive-box, #example-7-ddef-box, #example-7-compile-box, #example-7-transclude-box, #example-7-clone-box, #example-7-link-1-box, #example-7-watch-box, #example-7-observe-box').removeClass('clarify');
	    		$('body').removeClass('cloudy').removeClass('dark');
    		}, 1);
    	}

    </script>
    </body>
</html>